*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* estilizando formulario*/
form{
    height: 100%;
    width: 85%;
    padding: 0 3em 0 3em;
    padding: 0 3em 0 3em ;
}

/* estilizando do formulario*/
header{
    display: flex;
    justify-content: space-between;
    margin-top:2em;
}


/* estilizando fildsets*/
fieldset{
    margin-top: 0.5em;
}


.modal-dialog modal-xl{
    width: 95%;
}


/* estilizando anexos*/
#divAnexos {
    position: relative;
    overflow: hidden;
  }
  
  /* estilizando anexos inputs*/
.anexosinput{
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
    display: flex;
  }
/* estilizando anexos "recebidos" */
  ul{
    list-style: none;
    margin:15px;
  }

  li{
    margin: 1em;
  }

  